.clipboard-item {
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 2px solid transparent;
}

.clipboard-item:hover {
    border-color: var(--elevate-3);
    outline: none;
}

.clipboard-item:focus {
    border-color: var(--elevate-4);
    outline: none;
}

.clipboard-item-image-container {
    width: 100%;
}

.clipboard-item-image-container img {
    width: 100%;
    border-radius: 4px;
}

.clipboard-item-text-container {
    max-height: 120px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-all;
}

#clipboardHistory {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 0;
    overflow: auto;
    height: 100%;
    gap: 8px;
}
