@import url("../icons/index.css");

:root {
    --font: system-ui, sans-serif, ui-sans-serif;
    user-select: none;
}

body {
    background: transparent !important;
}

.force-shadow {
    --shadow-size: 12px;
}

.force-shadow #wrapper {
    inset: var(--shadow-size);
    box-shadow: 0 0 var(--shadow-size) rgba(0, 0, 0, 0.25);
}

.force-shadow .ls-toast-layer {
    bottom: var(--shadow-size);
}

#wrapper {
    position: fixed;
    inset: 0;
    border-radius: var(--border-radius-medium);
    border: 1px solid var(--elevate-3);
    overflow: hidden;
}

#handle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    -webkit-app-region: drag;
}

#handle div {
    background: var(--elevate-2);
    width: 24px;
    height: 4px;
    border-radius: 2px;
}

#main {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: 0;
}

#content {
    flex: 1;
    height: 100%;
    overflow: hidden;
}

#content ls-tab {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#main-background {
    width: 100%;
    height: 100%;
    background: var(--background);
    overflow: hidden;
    position: relative;
}

#wrapper.acrylic #main-background {
    backdrop-filter: blur(100px);
    background: color-mix(in oklab, var(--background) 100%, transparent 50%);
    /* background: transparent; */
}

.buttons {
    display: flex;
    gap: 8px;
    padding: 0 8px;
    justify-content: space-between;
}

.buttons .title {
    color: var(--elevate-4);
    margin: 0;
    margin-left: 8px;
}